.wrapper{
    width: 50%;
    margin: 0 auto;
}


.light{
    background: black;
    height: 450px;
    width: 150px;
    border-radius: 3px;
  
}

.light>.circle{
    border-radius: 100%;
width: 150px;
height: 150px;
}

.light>.circle:first-child{
    background: darkred;
}

.light>.circle:nth-child(2){
    background: darkgoldenrod;
}

.light>.circle:last-child{
    background: darkgreen;
}

.second{
    font-family: Calibri;
    font-size: 20px;
   margin-left: 60px;
}