body{
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 960px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
img{
 width: 120px;
 height: 100px;
 position: relative;
 top: 500px;
 margin-left: 10px;
 border-radius: 2px;
}

img:hover{
    border: 2px solid white;
    box-sizing: border-box;
}

button{
    height: 50px;
    width: 130px;
    position: relative;
 top: 500px;
 background: darkgoldenrod;
 border: 1px solid white;
 border-radius: 3px;
 margin-left: 10px;
color: white;
font-weight: bold;
font-family: Calibri;
font-size: 16px;
    
}

button:hover{
    background: turquoise;
    transition: 1s;
}
